#* VARIABLES DE ENTORNO PARA DESARROLLO
NODE_ENV=development || production

#* PUERTO DEL BACKEND (DESARROLLO)
PORT=3000

#* URL DEL FRONTEND (DESARROLLO)
FRONT_URL=http://localhost:5173

#* CONFIGURACIÓN DE LA BASE DE DATOS SUPABASE
DB_HOST=db.qnjlbyrgnbjvxmvkbayn.supabase.co #Supdominio (DNS) de la base de datos 
DB_PORT=6543 
DB_USER=postgres
DB_PASSWORD=example_db_password
DB_NAME=postgres
DB_SSL=true

#* CONFIGURACIÓN DE SUPABASE
SUPABASE_URL=https://qnjlbyrgnbjvxmvkbayn.supabase.co #? URL del proyecto Supabase
SUPABASE_SERVICE_ROLE_KEY=example_service_role_key  #? Para el backend
SUPABASE_REDIRECT_URL=http://localhost:5173/auth/callback  #? Ejemplo front local
SUPABASE_AVATARS_BUCKET=avatars #? Nombre del bucket de avatares en Supabase Storage
# SUPABASE_ANON_KEY=example_anon_key  #? Para el frontend (no usar en backend)

#* CONFIGURACIÓN DE JWT
JWT_SECRET=example_jwt_secret  #? Clave secreta para firmar JWT
JWT_EXPIRES_IN=1d #? opciones: "1y", "1w", "1d", "12h", "30m", "15s", "2000ms"
